/* Controlling css file for mobile flex compatibility */
@media screen and (max-width: 1200px) {
  /* When screen < 1200px disapear */
  #nav {
    display: none;
  }
  #dropdown {
    display: flex;
    max-width: 100%;
  }
}
